html, body { position: relative; height: 100%; }

body { text-align: center; font-family: Roboto; background: rgb(51, 51, 45); color: rgb(255, 248, 227); }

div { margin: 0; }

h1 { letter-spacing: 5px; font-size: 50px; font-weight: 100; }

#grid { position: relative; margin: 0 auto; }

/*#grid { position: relative; margin: 0 auto; height: 1500px; width: 100%; background-color: orange; }*/

.row { height: 12px; position: relative; }

.cell { display: inline-block; width: 12px; height: 100%; border-radius: 100%; }

/*.alive { background: rgb(204, 204, 159); }*/

.alive { background-image: url('https://www.med.upenn.edu/camb/user_images/JustinBeckerlabphoto1-2014-2.jpg'); background-size: cover; }

